# conda create --yes -n 2.7 python=2.7 numpy=1.7 scipy=0.12 pytables=3.0 \
#     cython=0.20 pandas=0.12 pyyaml pip nose
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
python=2.7.7=0
numpy
scipy
pytables
cython
pandas
pyyaml
pip
nose
mdtraj-dev
openmm
